{% extends "layout.html" %}

{% block menu %}
		<form action="/version_config" method="post">
       		<p>Appliance Number: <input name="appname"></p>
      		<p>BuildServer IP:     <input name="ip"></p>
        	<p>Slot Number: <Select onchange=mbar(this) name="slot_num">
        	<OPTION selected>=== Select Slot Number ===</OPTION> 
        	<OPTION value="1">1</OPTION> 
        	<OPTION value="2">2</OPTION> 
    		<OPTION value="3">3</OPTION> 
        	<OPTION value="4">4</OPTION> 
       		<OPTION value="5">5</OPTION> 
        	</Select><p>
        	<p>Model Type: <Select onchange=mbar(this) name="model_type">
        	<OPTION selected>=== Select Model Type ===</OPTION> 
        	<OPTION value="Quanta: Appliance">Quanta: Appliance</OPTION> 
        	<OPTION value="Quanta: Nodes">Quanta: Nodes</OPTION> 
        	<OPTION value="Phoenix: Performance 10GBaseT">Phoenix: Performance 10GBaseT</OPTION> 
        	<OPTION value="Phoenix: Performance SFP+">Phoenix: Performance SFP+</OPTION> 
        	<OPTION value="Phoenix: Standard 10GBaseT">Phoenix: Standard 10GBaseT</OPTION> 
        	<OPTION value="Phoenix: Standard SFP+">Phoenix: Standard SFP+</OPTION> 
        	</Select><p> 
        	<p>Brower Type: <Select onchange=mbar(this) name="browser_type">
        	<OPTION selected value="firefox">Firefox</OPTION> 
        	<OPTION value="chrome">Chrome</OPTION> 
        	<OPTION value="ie">IE (not available on linux)</OPTION> 
        	<OPTION value="safari">Safari (not available on linux)</OPTION> 
        	</Select><p>
        	<p><button type="submit">Trigger Regression</button></p>
		</form>
{% endblock %}

{% block content %} 
To use default configurations, click button "Trigger Regression" by leaving all input fields blank.
{% endblock %}