<html>
	<head>
	</head>
	<body>
		<h1> Main Page </h1>
		<p id='time'></p>
		<p id='time2'></p>
		<button type="button">Get Time</button>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script style="text/javascript">
$(document).ready(function(){
	$("button").click(function(){
		$.ajax({
			url:'/main?get_time_now=true',
			type: 'GET',
			success: function(data){
				$("#time2").html(data['time_now'])	
				}
		})
	})
	var poll=function(){
		$.ajax({
			url:'/main?get_time=true',
			type: 'GET',
			success: function(data){
				$("#time").html(data['time'])	
				poll()
			}
		})
	};
	poll();
})
</script>

	</body>
</html>
