{% extends "layout.html" %}

{% block menu %}

            <p>The golden image is about to update to 3.5.0.02291<p>
            <p>The build server is about to update to 3.5.0.02292<p>
            <p>Reset tool is about to update to 3912924<p>
            <br>
            <p><button type="submit">Start Regression</button></p>
{% endblock %}

{% block content %}
            <p>Appliance Number - 06</p>
            <p>BuildServer IP - </p>
            <p>Slot ID - </p>
            <p>Model Type - Quanta: Appliance</p>
            <p>Browser Type - firefox</p>
{% endblock %}